/*Используем сброс для всех стилей, чтобы создать свои*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*Зададим свои стили*/
body {
    background: burlywood;
    color: #888;
    font: 300 16px/22px "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    color: black;
    font-size: 30px;
    font-weight: 400;
    margin: 0 auto;
    padding-top: 22px;
    padding-bottom: 20px;
    text-transform: uppercase;
    width: 50%;
}

.container {
    margin: 0 auto;
    width: 1300px;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
}

header button {
    float: right;
}

input, select {
    background-color: bisque;
    font-size: 18px;
}

.info-block {
    margin-top: 20px;
}

button {
    background-color: antiquewhite;
    color: black;
    font-size: 22px;
    margin-top: 20px;
}

button:hover {
    background-color: aqua;
    color: dimgray;
}

label, table {
    color: black;
    font-size: 18px;
    font-weight: 300;
}

.valute {
    font-weight: 400;
}

table {
    border-collapse: collapse;
    margin-left: 20px;
 }

th, td {
    border: 2px solid grey;
    padding: 10px 15px;
}

.new-converting {
    margin-left: 20px;
    margin-bottom: 20px;
}

/*fieldset {*/
/*    display: block;*/
/*    margin-inline-start: 2px;*/
/*    margin-inline-end: 2px;*/
/*    padding-block-start: 0.35em;*/
/*    padding-inline-start: 0.75em;*/
/*    padding-inline-end: 0.75em;*/
/*    padding-block-end: 0.625em;*/
/*    min-inline-size: min-content;*/
/*    border-width: 2px;*/
/*    border-style: groove;*/
/*    border-color: black;*/
/*    border-image: initial;*/
/*}*/

.lbl-authorization {
    font-size: 30px;
    font-weight: 400;
    color: black;
}