<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Another</title>
</head>
<body>
<h1 align="center">Конвертер валют</h1>

<h4>Из какой валюты конвертируем</h4>
<div th:text="${inCurrencyName}"></div>
<label for="inCurrencyValue">Количество исходной валюты</label>
<input type="number" name="inCurrencyValue" id="inCurrencyValue" th:value="${inCurrencyValue}" disabled>

<br>

<h4>В какую валюту конвертируем</h4>
<div th:text="${outCurrencyName}"></div>
<label for="outCurrencyValue">Количество конечной валюты</label>
<input type="number" name="outCurrencyValue" id="outCurrencyValue" th:value="${outCurrencyValue}" disabled>

<br>
<form th:action="@{/another}">
    <button type="submit" th:name="backToConverting" th:value="backToConverting">Новая конвертация</button>
</form>
<br>
<form th:action="@{/history}">
    <button type="submit" th:name="showHistory" th:value="showHistory">История конвертаций</button>
</form>
</body>
</html>