<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/mainStyles.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Converting history</title>
</head>
<body>
<header>
    <h1>Конвертер валют</h1>
    <form th:action="@{/logout}" method="POST">
        <button type="submit" th:name="btnLogout" th:value="logout">Выход</button>
    </form>
</header>
<table>
    <tr>
        <th scope="col">Исходная валюта</th>
        <th scope="col">Целевая валюта</th>
        <th scope="col">Исходная сумма</th>
        <th scope="col">Получаемая сумма</th>
        <th scope="col">Дата конвертации</th>
        <th scope="col">Время конвертации</th>
    </tr>
    <tr th:each="converting: ${convertings}">
        <td th:text="${converting.getInCurrencyName()}"></td>
        <td th:text="${converting.getOutCurrencyName()}"></td>
        <td th:text="${converting.getInCurrencyValue()}"></td>
        <td th:text="${converting.getOutCurrencyValue()}"></td>
        <td th:text="${converting.getExchangeDate()}"></td>
        <td th:text="${converting.getExchangeTime()}"></td>
    </tr>
</table>
<br>
<form th:action="@{/new_converting}">
    <button type="submit" th:name="backToConverting" th:value="backToConverting">Новая конвертация</button>
</form>
</body>
</html>