<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:href="@{/css/mainStyles.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
<header class="container">
  <h1>Конвертер валют</h1>
</header>
<form name='formLoginPage' th:action="@{/login}" method='POST'>
  <fieldset>
    <label class="lbl-authorization">Авторизация</label>
    <br>
    <div th:if="${param.error}" class="alert alert-error">
      Неверный логин или пароль!
    </div>
    <div th:if="${param.logout}" class="alert alert-success">
      Выход из учётной записи
    </div>
    <label for="username">Логин:</label>
    <input id="username" name="username" type="text">
    <label for="password">Пароль:</label>
    <input id="password" name="password" type="password">
    <div class="form-actions">
      <button class="btn" type="submit">Вход</button>
    </div>
  </fieldset>
</form>
</body>
</html>