<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/mainStyles.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300,100&subset=cyrillic,latin">
    <meta charset="UTF-8">
    <title>New converting</title>
    <style>
        .error {
            color: red;
            font-size: 20px;
            font-weight: 400;
        }
    </style>
</head>
<body>
<header class="container">
    <h1>Конвертер валют</h1>
</header>
<form th:action="@{/converting_result}" th:object="${convertingModel}" method="POST">
    <div class="info-block">
        <label for="inCurrencyName">Из какой валюты конвертируем</label>
        <select name="inCurrencyName" id="inCurrencyName">
            <option th:each="currency: ${currencies}" th:text="${currency.getValue()}" th:value="${currency.getKey()}"
                    th:selected="${currency.getValue()=='Евро'}"></option>
        </select>
        <label for="inCurrencyValue">Количество исходной валюты</label>
        <input id="inCurrencyValue" th:field="*{inCurrencyValue}" name="inCurrencyValue" step="0.01" type="number">
        <div class="alert alert-warning" th:if="${#fields.hasErrors('inCurrencyValue')}" th:errorclass="error" th:errors="*{inCurrencyValue}">
        </div>
    </div>


    <div class="info-block">
        <label for="outCurrencyName">В какую валюту конвертируем</label>
        <select name="outCurrencyName" id="outCurrencyName">
            <option th:each="currency: ${currencies}" th:text="${currency.getValue()}" th:value="${currency.getKey()}"
                    th:selected="${currency.getValue()=='Доллар США'}"></option>
        </select>
    </div>
    <button type="submit" th:name="btnDoConverting" th:value="doConverting">Конвертировать</button>
</form>
<form th:action="@{/history}">
    <button type="submit" th:name="showHistory" th:value="showHistory">История конвертаций</button>
</form>
<form th:action="@{/logout}" method="POST">
    <button type="submit" th:name="btnLogout" th:value="logout">Выход</button>
</form>
</body>
</html>