<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New converting</title>
</head>
<body>
<h1 align="center">Конвертер валют</h1>
<form th:action="@{/converting_result}" th:object="${convertingModel}" method="POST">
    <label for="inCurrencyName">Из какой валюты конвертируем</label>
    <select name="inCurrencyName" id="inCurrencyName">
        <option th:each="currency: ${currencies}" th:text="${currency.getValue()}" th:value="${currency.getKey()}"
                th:selected="${currency.getValue()=='Евро'}"></option>
    </select>
    <label for="inCurrencyValue">Количество исходной валюты</label>
    <input id="inCurrencyValue" name="inCurrencyValue" step="0.01" type="number">

    <br>

    <label for="outCurrencyName">В какую валюту конвертируем</label>
    <select name="outCurrencyName" id="outCurrencyName">
        <option th:each="currency: ${currencies}" th:text="${currency.getValue()}" th:value="${currency.getKey()}"
                th:selected="${currency.getValue()=='Доллар США'}"></option>
    </select>
    <label for="outCurrencyValue">Количество итоговой валюты</label>
    <input id="outCurrencyValue" name="outCurrencyValue" type="number" disabled>
    <br><br>
    <input type="submit" value="Конвертировать">
</form>
<br>
<form th:action="@{/history}">
    <button type="submit" th:name="showHistory" th:value="showHistory">История конвертаций</button>
</form>
</body>
</html>